<!DOCTYPE html>
<html>
<head>
    <title>Sélecteur de pizza (Twins Pizza)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pza_style.css') }}">
    
</head>
<body>
    <div class="selector-sheet">
        <h1>Twins Pizza (Clamart)</h1>
        
        <div class="section">
            <!-- ... (previous sections) ... -->
        
            <div class="ingredient-buttons">
                <div>
                    <button id="tomateButton" class="want-button" onclick="handleIngredientClick('Tomate', true)">Sauce Tomate</button>
                    <button id="noTomateButton" class="no-want-button" onclick="handleIngredientClick('Tomate', false)">Crème Fraîche</button>
                </div>
                <div>
                    <button id="mozzarellaButton" class="want-button" onclick="handleIngredientClick('Mozzarella', true)">Mozzarella</button>
                    <button id="noMozzarellaButton" class="no-want-button" onclick="handleIngredientClick('Mozzarella', false)">Non merci</button>
                </div>
                <div>
                    <button id="fromageButton" class="want-button" onclick="handleIngredientClick('Fromage', true)">Fromage à raclette</button>
                    <button id="noFromageButton" class="no-want-button" onclick="handleIngredientClick('Fomage', false)">Non merci</button>
                </div>
                <div>
                    <button id="cheddarButton" class="want-button" onclick="handleIngredientClick('Cheddar', true)">Cheddar</button>
                    <button id="noCheddarButton" class="no-want-button" onclick="handleIngredientClick('Cheddar', false)">Non merci</button>
                </div>
                <div>
                    <button id="jambonButton" class="want-button" onclick="handleIngredientClick('Jambon', true)">Jambon</button>
                    <button id="noJambonButton" class="no-want-button" onclick="handleIngredientClick('Jambon', false)">Non merci</button>
                </div>
                <div>
                    <button id="pouletminceButton" class="want-button" onclick="handleIngredientClick('Pouletmince', true)">Poulet émincé</button>
                    <button id="noPouletminceButton" class="no-want-button" onclick="handleIngredientClick('Pouletmince', false)">Non merci</button>
                </div>
                <div>
                    <button id="pouletButton" class="want-button" onclick="handleIngredientClick('Poulet', true)">Poulet fumé</button>
                    <button id="noPouletButton" class="no-want-button" onclick="handleIngredientClick('Poulet', false)">Non merci</button>
                </div>
                <div>
                    <button id="chorizoButton" class="want-button" onclick="handleIngredientClick('Chorizo', true)">Chorizo</button>
                    <button id="noChorizoButton" class="no-want-button" onclick="handleIngredientClick('Chorizo', false)">Non merci</button>
                </div>
                <div>
                    <button id="merguezButton" class="want-button" onclick="handleIngredientClick('Merguez', true)">Merguez</button>
                    <button id="noMerguezButton" class="no-want-button" onclick="handleIngredientClick('Merguez', false)">Non merci</button>
                </div>
                <div>
                    <button id="viandeButton" class="want-button" onclick="handleIngredientClick('Viande', true)">Viande hachée</button>
                    <button id="noViandeButton" class="no-want-button" onclick="handleIngredientClick('Viande', false)">Non merci</button>
                </div>
                <div>
                    <button id="lardonsButton" class="want-button" onclick="handleIngredientClick('Lardons', true)">Lardons</button>
                    <button id="noLardonsButton" class="no-want-button" onclick="handleIngredientClick('Lardons', false)">Non merci</button>
                </div>
                <div>
                    <button id="oeufButton" class="want-button" onclick="handleIngredientClick('Oeuf', true)">Oeuf</button>
                    <button id="noOeufButton" class="no-want-button" onclick="handleIngredientClick('Oeuf', false)">Non merci</button>
                </div>
                <div>
                    <button id="pommesButton" class="want-button" onclick="handleIngredientClick('Pommes', true)">Pommes de terre</button>
                    <button id="noPommesButton" class="no-want-button" onclick="handleIngredientClick('Pommes', false)">Non merci</button>
                </div>
                <div>
                    <button id="poivronsButton" class="want-button" onclick="handleIngredientClick('Poivrons', true)">Poivrons</button>
                    <button id="noPoivronsButton" class="no-want-button" onclick="handleIngredientClick('Poivrons', false)">Non merci</button>
                </div>
                <div>
                    <button id="oignonsButton" class="want-button" onclick="handleIngredientClick('Oignons', true)">Oignons</button>
                    <button id="noOignonsButton" class="no-want-button" onclick="handleIngredientClick('Oignons', false)">Non merci</button>
                </div>
                <div>
                    <button id="champignonsButton" class="want-button" onclick="handleIngredientClick('Champignons', true)">Champignons</button>
                    <button id="noChampignonsButton" class="no-want-button" onclick="handleIngredientClick('Champignons', false)">Non merci</button>
                </div>
                <div>
                    <button id="olivesButton" class="want-button" onclick="handleIngredientClick('Olives', true)">Olives</button>
                    <button id="noOlivesButton" class="no-want-button" onclick="handleIngredientClick('Olives', false)">Non merci</button>
                </div>
            
                
                <!-- Add more ingredient buttons as needed -->
            </div>
        
            
            <ul id="pizzaList">
                <!-- Loop through the pizzas from the server -->
                {% for pizza in pizzas %}
                    <li>{{ pizza }}</li>
                {% endfor %}
            </ul>
        </div>

        



    </div>

    <script>
        async function handleIngredientClick(ingredient, want) {
            const wantButton = document.getElementById(`${ingredient.toLowerCase()}Button`);
            const noWantButton = document.getElementById(`no${ingredient}Button`);

            if (want) {
                wantButton.classList.toggle('active');
                // Deactivate the corresponding "I don't want" button
                noWantButton.classList.remove('active');
            } else {
                noWantButton.classList.toggle('active');
                // Deactivate the corresponding "I want" button
                wantButton.classList.remove('active');
            }

            // Update the pizza list based on the selected ingredients
            updatePizzaList();
        }
    
        function updatePizzaList() {
            const activeWantButtons = document.querySelectorAll('.want-button.active');
            const activeNoWantButtons = document.querySelectorAll('.no-want-button.active');

            const selectedIngredients = Array.from(activeWantButtons).map(button => button.id.replace('Button', ''));
            const rejectedIngredients = Array.from(activeNoWantButtons).map(button => button.id.replace('no', '').replace('Button', ''));

            const pizzaList = document.getElementById('pizzaList');
            const pizzas = Array.from(pizzaList.getElementsByTagName('li'));

            pizzas.forEach((pizza) => {
                const pizzaIngredients = pizza.textContent.split(' ');

                // Check if pizza contains all selected ingredients and none of the rejected ingredients
                const containsAllIngredients = selectedIngredients.every(ingredient => pizzaIngredients.includes(ingredient));
                const containsRejectedIngredients = rejectedIngredients.some(ingredient => pizzaIngredients.includes(ingredient));

                // Update the display property based on the conditions
                pizza.style.display = (containsAllIngredients && !containsRejectedIngredients) ? 'block' : 'none';
            });
        }
    </script>



</body>
</html>
